<% @tweets.each do |u| %>
  <p>
      <%= u.message %>
      <%= u.users.count %>
      <%= link_to '削除', tweet_path(u), data: {turbo_method: :delete} %>
      
      <% if session[:login_uid] %>
        <%= link_to 'いいね', likes_path(tweet_id: u.id), data: { turbo_method: :post } %>
        <%= link_to 'いいね削除', like_path(u), data: { turbo_method: :delete } %>
      <% end %>
  </p>
<% end %>
<p>
      <%= link_to '新規追加', new_tweet_path %>
      <%= link_to 'ログイン',top_main_path %>
      <%= link_to 'ログアウト',top_logout_path %>
      ログイン中UID：<%= session[:login_uid] %>
</p>