<% @users.each do |u| %>
  <p>
      <%= u.uid %>
      <%= u.pass %>
      <%= link_to '削除', user_path(u), data: {turbo_method: :delete} %>
      <%= link_to '編集', user_path(u) %>
  </p>
<% end %>
<p><%= link_to '新規追加', new_user_path %></p>